:root{
--Blue-800: hsl(234, 29%, 20%);
--Blue-700: hsl(235, 18%, 26%);
--Grey: hsl(0, 0%,58%);
--White: hsl(0, 0%, 100%);
--Red: hsl(4, 100%, 67%);
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--Blue-700);   
    display: flex;
    flex-direction: column;
    justify-content: center; 
    line-height: 1.2;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto-Regular', sans-serif;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(./assets/fonts/Roboto-Bold.ttf) format('truetype');
}

.container{
    color: var(--Blue-800);
    background-color: var(--White);
    width: 850px;
    height: 500px;
    margin: 0 auto;
    border-radius:30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;    
}
/* Form container */
.form-container{
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 450px;
    font-size: 17px;
    padding: 20px 60px;

}

.form-container h1{
    font-size: 50px;
    font-family: 'Roboto-Bold', sans-serif;
    margin-bottom: 20px;

}

.form-container p{
    margin-bottom: 18px;
}

.form-ul li{
    padding: 8px 0;
}

.form-ul{
    list-style: none;
    margin-bottom: 10px;
}

.form-ul svg{
    height: 15px;
}

/* Form */

#subscription-form{
    display: flex;
    flex-direction: column;

}

#subscription-form label{
    font-family: 'Roboto-Bold';
    font-size: 17px;
    padding-bottom: 10px;
}

#subscription-form input[type="email"]{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--Grey);
    margin-bottom:20px;
     cursor: pointer;
}

#subscription-form input[type="email"]:focus{
    outline: 1px solid var(--Grey);
}

.btn{
    padding: 15px;
    border: none;
    background-color: var(--Blue-800);
    color: var(--White);
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
} 

.btn:hover{
    background-color:var(--Red);
}

#error-message{
    color: var(--Red);
    font-family: 'Roboto-Bold',sans-serif;
}

#subscription-form div{
    display: flex;
    justify-content: space-between;
}

/* Img */
.img-container img{
   width: 330px;
}

.img-container .mobile{
    display: none;
}

/* Secondary container */
.secondary{
    display: none;
    flex-direction: column;
    height: 400px;
    width: 400px;
    padding: 40px;
    align-items: start;
    justify-content: space-evenly;    
}

.secondary h1{
    font-size: 50px;
    font-family: 'Roboto-Bold', sans-serif;
}

#emailThanks{
    font-family: 'Roboto-Bold',sans-serif;
}

@media(max-width:900px) {
    .container{
        flex-direction: column-reverse;
        height: fit-content;
        width: max-content;
        padding: 0;
        align-items: stretch;
        justify-content: space-evenly;
    }

    .img-container img{
        width: 100%;
     }

    .img-container .mobile{
        display: block;
    }
    .img-container .desktop{
        display: none;
    }
}

@media(max-width:600px){
    .form-container{
        font-size: 17px;
        padding: 20px 30px;
    
    }
}


.attribution { font-size: 11px; text-align: center; color: var(--White); margin-top: 5px;}
.attribution a { color: var(--Red); font-family: 'Roboto-Bold', sans-serif; }