:root{
--Blue-800: hsl(234, 29%, 20%);
--Blue-700: hsl(235, 18%, 26%);
--Grey: hsl(0, 0%,58%);
--White: hsl(0, 0%, 100%);
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--Blue-700);   
    display: flex;
    flex-direction: column;
    justify-content: center; 
    line-height: 1.2;
    height: 100vh;
    width: 100%;
}

.container{
    color: var(--Blue-800);
    background-color: var(--White);
    width: 850px;
    height: 500px;
    margin: 0 auto;
    border-radius:30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;    
}
/* Form container */
.form-container{
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid red;
    height: 350px;
    font-size: 20px;
}

.form-container h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.img-container img{
   width: 330px;
   
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }